<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Save Employee</title>
</head>

<body>

<div class="container">

  <h3>User</h3>
  <hr>

  <p class="h4 mb-4">Save User</p>

  <form action="#" th:action="@{/employees/save}"
        th:object="${employee}" method="POST">

    <!-- Add hidden form field to handle update -->
    <input type="hidden" th:field="*{id}" />

    Name <input type="text" th:field="*{name}"
           class="form-control mb-3 col-4" placeholder="Enter your name" required>

    Age<input type="number" th:field="*{age}"
           class="form-control mb-3 col-4" placeholder="Enter your age" required>

    Salary<input type="number" th:field="*{salary}" min="1" step="any"
           class="form-control mb-3 col-4" placeholder="Enter your salary" required>

    <button type="submit" class="btn btn-info col-2">Add</button>
    <button type="reset" class="btn btn-warning col-2" >Reset Form</button>

  </form>

  <hr>
  <a th:href="@{/employees/list}">Back to Employees List</a>

</div>
</body>

</html>










